altair
attrs
blinker
branca
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
Flask
folium
gitdb
GitPython
idna
importlib-metadata
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mysql-connector
mysql-connector-python
nest-asyncio
numpy
packaging
pandas
patsy
pillow
pip
plotly
plotly-express
protobuf
pyarrow
pycparser
pydeck
Pygments
PyMySQL
python-dateutil
python-dotenv
pytz
referencing
requests
retrying
rich
rpds-py
scipy
setuptools
six
smmap
statsmodels
streamlit
streamlit-card
